<ion-view view-title="Inicio" hide-nav-bar="true" align-title="left" nav-view='disable'>
  <ion-content overflow-scroll=true scroll=true >
    <div id="cf3" class="shadow">
      <img class="bottom img-responsive" src="../img/login/Restaurante-amigos-terraza.jpg"alt="uno">
      <img class="top img-responsive" src="../img/login/pick-fondos.jpg"alt="dos">
    </div>
    <div class="fondo-block">
      <div class="hero no-header flat list">
        <div class="content">
          <div class="app-icon">
          </div>
        </div>
      </div>
      <div class="list">
        <p class="white-c text-center bold">Descubre los misterios</p>
      </div>

      <div class="padding content-login">
        <div ng-controller='FacebookCtrl'>
          <button
                class="button button-full button-border icon-left ion-social-facebook social-login-facebook ink texto-normal bold"
                ng-click='loginFacebook()'
                >
          Iniciar con facebook</button>
        </div>
        <div class="button-bar ">
          <button ng-click='loginApp()' class="button button-full button white-c carrot-b  texto-normal ink bold">Iniciar sesion</button>
          <button class="button button-full button-border icon-left button-assertive texto-normal bold" ng-click='registerApp()'>Registrarse</button>
        </div>
      </div>
    </div>
    <ion-spinner class="spinner-energized app-loading" ng-show='isLoading' icon='ripple'></ion-spinner>
  </ion-content>
  <div ng-include='menu.html'>
  </div>
</ion-view>
