<ion-view view-title="Inicio" hide-nav-bar="true" align-title="center">
  <ion-content overflow-scroll=true scroll=true style="background: url(img/login/pick-fondo.jpg) center; background-size: cover; ">
    <div class="hero no-header flat list">
      <div class="content">
        <div class="app-icon"></div>
      </div>
    </div>
    <div class="list">
      <p class="white-c text-center bold">Descubre los misterios</p>
    </div>
    <div class="padding">
      <button class="button button-full button-border icon-left ion-social-facebook social-login-facebook ink texto-normal bold">Iniciar con facebook</button>
      <div class="button-bar ">
        <button ng-click='LoginApp()' class="button button-full  button-balanced texto-normal ink bold">Iniciar sesion</button>
        <button class="button button-full button-border icon-left button texto-normal bold" ng-click='RegisterApp()'>Registrarse</button>
      </div>
    </div>
  </ion-content>
</ion-view>
