<ion-view view-title="Bienvenido" align-title='center' hide-nav-bar="true" >

<a class=" skip " ng-click="startApp()">Saltar intro</a>
<ion-slide-box on-slide-changed="slideChanged(index)">
  <ion-slide>
    <h2 class="carrot-c bold">¡Bienvenido a pick!</h2>
    <div class="logo text-center">
      <div class='uil-magnify-css' style='transform:scale(1);'>
        <div class="group">
          <div class="grip"></div>
          <div class="inner-circle"></div>
          <div class="outer-circle"></div>
        </div>
      </div>
        </div>
        <h3 class="carrot-c">Busca</h3>
      </ion-slide>
      <ion-slide>
        <h2 class="carrot-c bold">¡Bienvenido a pick!</h2>
        <div class="logo text-center">
          <div class='uil-poi-css' style='transform:scale(1);'><div></div></div>
        </div>
        <h3 class="carrot-c">Descubre</h3>
      </ion-slide>
      <ion-slide>
        <h2 class="carrot-c bold">¡Bienvenido a pick!</h2>
        <div class="logo">
          <img src="assets/intro/heart.gif" class="img-responsive">
        </div>
        <h3 class="carrot-c">Disfruta</h3>
      </ion-slide>
        <ion-slide></ion-slide>
    </ion-slide-box>
  </ion-view>
