<ion-view view-title="Bienvenido" align-title='center' hide-nav-bar="true" >
  <ion-nav-buttons side="left" class="white-b">
    <button class="button button-clear no-animation"
    ng-click="startApp()" ng-show="!slideIndex">
    Skip
  </button>
  <button class="button button-clear no-animation icon-left ion-chevron-left"
  ng-click="previous()" ng-show="slideIndex > 0">
</button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
  <button class="button button-clear no-animation icon-right ion-chevron-right"
  ng-click="next()" ng-show="slideIndex != 2">
</button>
<button class="button button-clear no-animation  icon-right ion-home" ng-click="startApp()" ng-show="slideIndex == 2">
</button>
</ion-nav-buttons>
<button class=" skip icon-right ion-home" ng-click="startApp()"></button>
<ion-slide-box on-slide-changed="slideChanged(index)">
  <ion-slide>
    <h2 class="carrot-c bold">¡Bienvenido a Pick!</h2>
    <div class="logo text-center">
      <!-- <img src="assets/intro/magnify.svg" class="img-responsive"> -->
      <div class='uil-magnify-css' style='transform:scale(1);'>
        <div class="group">
          <div class="grip"></div>
          <div class="inner-circle"></div>
          <div class="outer-circle"></div>
        </div>
      </div>
        </div>
        <h3 class="carrot-c">Busca</h3>
      </ion-slide>
      <ion-slide>
        <h2 class="carrot-c bold">¡Bienvenido a Pick!</h2>
        <div class="logo text-center">
          <div class='uil-poi-css' style='transform:scale(1);'><div></div></div>
          <!-- <img src="assets/intro/poi.svg" class="img-responsive"> -->
        </div>
        <h3 class="carrot-c">Descubre</h3>
      </ion-slide>
      <ion-slide>
        <h2 class="carrot-c bold">¡Bienvenido a Pick!</h2>
        <div class="logo">
          <img src="assets/intro/heart.gif" class="img-responsive">
        </div>
        <h3 class="carrot-c">Disfruta</h3>
      </ion-slide>
    </ion-slide-box>
  </ion-view>
