<ion-view view-title="Iniciar sesion"  align-title="left">
  <ion-content overflow-scroll=true scroll=true >
 <div class="list padding white-c">
      <label class="item item-input item-floating-label  ">
        <span class="input-label texto-normal  ">Usuario</span>
        <input type="text" ng-model='usuario1' class=' padding-left bold' placeholder="USUARIO">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label texto-normal  ">Contraseña</span>
        <input type="password" ng-model='pass' class=' padding-left bold' placeholder="CONSTRASEÑA">
      </label>
      <small class="right list black-c padding underline"  ng-click="modal.show()">
        Olvide mi contraseña
      </small>
      <script id="password.html" type="text/ng-template">
      <ion-modal-view >
      <ion-header-bar class="bar bar-header carrot-b">
      <h1 class="title">Recuperar Contraseña</h1>
            <button class="button button-clear button-primary ion-close-circled" ng-click="modal.hide()"></button>
          </ion-header-bar>

      <ion-content>
      <form class='padding' >
      <label class="item-input item-floating-label ">
        <span class="input-label texto-normal  ">Email</span>
        <input type="email" ng-model='recuperar' class=' padding-left bold' placeholder="EMAIL">
      </label>

      <button class="button button-full button-assertive ink" ng-click='requestPassword(recuperar);' >Enviar</button>
      </form>
      </ion-content>
      </ion-modal-view>
      </script>
      <button ng-click='login(usuario1,pass);' class="button button-full  button-assertive texto-normal ink bold">Iniciar sesion</button>

    </div>
    <ion-spinner class="spinner-energized app-loading" ng-show='isLoading' icon='ripple'></ion-spinner>
  </ion-content>
</ion-view>
