<ion-view hide-back-button="true" view-title="Categorías">
  <ion-content class="padding">

<div class='center-text' ng-show="isLoading">
    <ion-spinner icon="spiral"></ion-spinner>
</div>
<a ng-controller='UsuarioCtrl' ng-click='EliminarSession(true)' >Cerrar session</a>
<!--<ion-refresher
    pulling-text="Arrastrar para actualizar..."
    on-refresh="actualizarCompetencias()"
    spinner='none'>
  </ion-refresher>

  <ion-list>
    <ion-item ng-repeat="evento in eventos" href="#/tab/evento/{{evento.nid}}" class="item-thumbnail-left">
        <img ng-src="{{evento.Imagen | defaultImage}}" />
        <h2>{{evento.Nombre}}</h2>
        <h4>{{ (evento.Fecha.value * 1000) | date:"dd/MM/yyyy @ h:mma"}}</h4>
        <p>
          Costo: {{evento.Costo}}
        </p>
        <p>
          Ciudad: {{evento.Ciudad}}
        </p>
    </ion-item>
  </ion-list><h4>{{ (evento.Fecha.value * 1000) | date:"dd/MM/yyyy @ h:mma"}}</h4>
        <p>
          Costo: {{evento.Costo}}
        </p>
        <p>
          Ciudad: {{evento.Ciudad}}
        </p>
    </ion-item>
  </ion-list>-->
  {{usuario.name}}
    <!-- <button class="button calm" ng-click="toIntro()">Volver al tutorial</button> -->
  </ion-content>
</ion-view>
