<ion-view hide-back-button="true" view-title="Mapa">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon button-clear icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content overflow-scroll=true scroll=true >
    <div class="list padding" ng-controller='geolocCtrl'>
      <div class="list texto-grande padding" >
        Pruebas de geo localizacion
      </div>
      <div class="list">

      </div>

      <div class="list" ng-show='mostrar_boton_gps'>
        <button

                class="button button-full button-assertive height no-margin ink"
                ng-click='clearWatch()'>
          limpiar
        </button>

      </div>

      <div class="list" ng-show='mostrar_boton_gps'>
        <button

                class="button button-full button-assertive height no-margin ink"
                ng-click='obtenerActualPosicion()'>
          Ver G-Maps
        </button>

      </div>

      <div ng-show='mostrar_url_ubicacion'>
        <label>
          Tu ubicacion en Google Maps:
        </label>
        <a href="{{url_google_maps}}" target="_blank">{{url_google_maps}}</a>
      </div>


    </div>
    <ion-spinner class="spinner-energized app-loading" ng-show='isLoading' icon='ripple'></ion-spinner>
  </ion-content>
</ion-view>
