<ion-view hide-back-button="true" view-title="Preferencia">
  <ion-nav-buttons side="right">
    <button class="button button-clear "><i class="icon ion-ios-checkmark-empty"></i></button>
  </button>
  </ion-nav-buttons>
    <ion-content  overflow-scroll=true scroll=true  ng-class="{expanded:$scope.isExpanded}">
        <h5 class="content padding double-padding-x">Ayúdanos a crear tu propia experiencia personalizada</h5>
        <div class="" ng-init='loadEvent(true)'>
          <div class='animate-fade-slide-in-righ padding'  ng-repeat="(key, value) in list_preferens | groupBy: 'Categoria'">
            <p>
              {{key}}
            </p>
            <div class="list-preferencia">
              <div  class=" item-thumbnail-preferencia" ng-repeat="list_preferens in value">
                <div ng-class="class" ng-click='SavePreferens(list_preferens.pid)'>
                  <i class="{{list_preferens.clase}} font-icon"></i>
                  <p class="no-margin">
                    {{list_preferens.Preferencia}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </ion-content>
    <!-- <button id="fab-profile" class="button button-fab button-fab-bottom-right button-energized-900"><i class="icon ion-checkmark"></i></button> -->

</ion-view>
