<ion-view view-title="Registro"  align-title="center">
  <ion-content >
    <div class="list texto-grande padding">
        <form name='FormRegister' >
          <label class="item item-input item-floating-label">
            <span class="input-label texto-normal carrot-c ">Usuario</span>
            <input type="text" ng-model='username' class='smoke padding-left'  required placeholder="USUARIO">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label texto-normal carrot-c">Email</span>
            <input type="email" ng-model='email' class='smoke padding-left' required  placeholder="EMAIL">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label texto-normal carrot-c ">Contraseña</span>
            <input type="password" ng-model='contrasena' class='smoke padding-left '  required placeholder="CONTRASEÑA">
          </label>

        </form>
      </div>
      <div class="bar bar-footer bar-balanced">
        <button ng-controller='PopupCtrl' class="button button-full button-balanced height no-margin ink" ng-click='createAccount(username,email,contrasena)'>
          Registrarse</button>
      </div>
    </ion-content>
  </ion-view>
