/* General
==================================*/
* {
    font-family: Quicksand!important;
}
.height{
  height: 100%!important;
}
.auto-h{
  height: auto!important;
}
.concrete{
      color: #95a5a6!important;
}
.text-decoration-none{
  text-decoration: none!important;
}
.radius{
  border-radius: 50%
}
.pre-line{
  white-space: pre-line!important;
}
.relative{
  position: relative!important;
}

input {
  color: #FFF;
  letter-spacing: 0.15rem;
  position: relative;
  z-index: 1;
  padding: 10px;
  background-color: transparent;
  bottom: 0px;
}
h1 {
  color: #fff;
  text-shadow: 0 1px 0px #000;
  font-size: 42px;
}
.underline{
  text-decoration: underline;
}
.space-none{
  white-space: initial!important;
}
.carrot-b{
  background: #e67e22!important
}
.carrot-c{
  color: #e67e22!important
}
.white-c{
  color:white!important;
}
.white-b{
  background:white!important;
}
.icon-i{
  color: #444!important
}
.border-width{
  border-width: 0px!important;
}
.smoke{
  color: #ccc!important;
}
.texto-grande{
  text-transform: uppercase;
}
.texto-pequeno{
  text-transform: lowercase;
}
.texto-normal{
  text-transform: inherit;
}
.texto-capital{
  text-transform: capitalize;
}
.no-padding{
  padding: 0;
}
.rem{
  font-size: 1rem;
}
.line-height-normal{
  line-height: 25px!important;
}
.no-margin{
  margin: 0!important;
}
.m-left{
  margin-left: 5%;
}
.right-p{
  right: 0!important;
}
.left-p{
  left: 0!important;
}

.both{
  clear: both;
}
.none{
  float: none;
}
.left{
  float: left;
}
.right{
  float: right;
}
.text-center{
  text-align: center;
  text-align:  -webkit-center;
  text-align: -moz-center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
}
.black-c{
  color: black;
}

.logo {
  margin: 30px 0;
}
.title-bordered {
  border-top: solid 2px #bbb;
  padding-top: 30px;
}

p {
  color: #555;
  margin: 0 0 25px;
}

.scroll {
  height: 100%;
}
