
/* Intro
==================================*/

.skip{
  top: 10px;
  position: absolute;
  right: 0;
  border: 0px solid #ccc;
  text-transform: uppercase;
  color: #e67e22;
  font-size: 2em;
  z-index: 1;
  background: transparent;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.button-bar {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}
.slider-pager .slider-pager-page ,
.slider-pager-page {
  color: #e67e22;
}
