.app-loading{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.72);
  text-align: center;
  top: 0;
}
.item-avatar-profile{
  width:100px !important;
  height : 100px !important;
}
.top-header-profile{
  top: 140px!important;
}
// .bar{
//   height: 50px!important;
// }
.list-preferencia{
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  -webkit-display:flex;
  -webkit-flex-direction:row;
}
.item-image img:first-child, .item-image .list-img{
  height: 100%;
  max-width: 100%
}
.item-thumbnail-preferencia{
  padding: 5%;
  margin: 1%;

  border: 1px solid #e74c3c;
  text-align: center;
}
.font-icon{
  font-size: 2em;
}
span.back-text {
  display: none!important;
}
.spinner svg {
  width: 25%!important;
  height: auto!important;
  margin: 20% 0% 0% 0%;
}
.no-results{
  border-radius: 10px;
  background: #e74c3c;
}

.spiral-spiner svg{
  width: 28px!important;
  height: 28px!important;
}
.fondo-block{
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.65);
  width: 100%;
  overflow: scroll;
}
.class_active{
  background: #e74c3c;
  color: white;
}
.padding-preferencia{
  padding: 10px!important;
}
.check-in{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2em;
  transform: rotate(45deg)
}
/*Promociones*/
.title-promo{
  position: absolute;
  bottom: 50px;
  z-index: 2;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 10px;
}
.card-tipo-promo {
  position: absolute;
  top: 10px;
  z-index: 2;
  right: 15px;
  color: white;
  background: rgba(228,33,18,0.60);
  padding: 6px 13px;
  font-weight: bold;
}
