<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Pick</title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="lib/ionic-material/dist/ionic.material.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <!--<script src="lib/ion-md-input/js/ion-md-input.js"></script>-->
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <script src="js/jdrupal.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/common.js"></script>
  <script src="js/services.js"></script>
  <script src="js/angular-filter.js"></script>
  <script src="js/loginfb.js"></script>
  <script src="js/geolocation.js"></script>
  <!--ngFacebook plugin-->
  <script src="js/ngFacebook.js"></script>
  <!--ngGeolocation plugin-->
  <script src="js/ngGeolocation.js"></script>

</head>
<body ng-app="pickplace">
  <ion-side-menus ng-cloak="">
    <ion-side-menu-content ng-controller="NavCtrl">
      <ion-nav-bar class="carrot-b white-c">
        <ion-nav-back-button class="button-icon button-clear ion-arrow-left-c">
        </ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
        </button>
      </ion-nav-buttons>
      <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
      <ion-header-bar class="bar bar-header bar-assertive padding class_active auto-h">
      <img class="radius item-avatar-profile" ng-src="img/daenerys.jpg">
      <h1 class="title relative pre-line right-p left-p line-height-normal auto-h">{{usuario.name}}</h1>
      <i ng-if="currentPlatform!==&apos;android&apos;" class="button-icon check-in ion-pin"></i>
      <i ng-if="currentPlatform===&apos;android&apos;" class="button-icon check-in ion-android-pin"></i>
      </ion-header-bar>
      <ion-content has-header="true" class="top-header-profile">
        <ion-list>
        <ion-item ng-if="currentPlatform!==&apos;android&apos;" menu-close="" class="concrete"> <i class="icon ion-pin padding font-icon"></i>Check-in</ion-item>
        <ion-item ng-if="currentPlatform===&apos;android&apos;" menu-close="" class="concrete"> <i class="icon ion-android-pin padding font-icon"></i>Check-in</ion-item>
        <ion-item ng-if="currentPlatform!==&apos;android&apos;" menu-close="" class="concrete"><i class="icon ion-ios-person-outline padding font-icon"></i>Mi Perfil</ion-item>
        <ion-item ng-if="currentPlatform===&apos;android&apos;" menu-close="" class="concrete"><i class="icon ion-person padding font-icon"></i>Mi Perfil</ion-item>
        <ion-item ng-if="currentPlatform==&apos;android&apos;" menu-close="" class="concrete"><i class="icon ion-android-locate padding font-icon"></i>Mis Checkin</ion-item>
        <ion-item ng-if="currentPlatform!==&apos;android&apos;" menu-close="" class="concrete"><i class="icon ion-ios-location-outline padding font-icon"></i>Mis Check-in</ion-item>
        <ion-item ng-if="currentPlatform!==&apos;android&apos;" menu-close="" class="concrete"><i class="icon ion-ios-heart-outline padding font-icon"></i>Mis Locales</ion-item>
        <ion-item ng-if="currentPlatform ===&apos;android&apos;" menu-close="" class="concrete"><i class="icon ion-android-favorite padding font-icon"></i>Mis Locales</ion-item>
        <ion-item ng-if="currentPlatform!==&apos;android&apos;" menu-close="" class="concrete">
          <a ng-href="#/preferencia" class="text-decoration-none concrete">
            <i class="icon ion-happy-outline padding font-icon"></i>Mis Prefencias
          </a>
        </ion-item>
        <ion-item ng-if="currentPlatform ===&apos;android&apos;" menu-close="" class="concrete">
          <a ng-href="#/preferencia" class="text-decoration-none concrete">
            <i class="icon ion-android-happy padding font-icon "></i>Mis Prefencias
          </a>
        </ion-item>
        <ion-item ng-if="currentPlatform!==&apos;android&apos;" menu-close="" class="concrete"><i class="icon ion-ios-gear-outline padding font-icon"></i>Configuracion</ion-item>
        <ion-item ng-if="currentPlatform ===&apos;android&apos;" menu-close="" class="concrete"><i class="icon ion-gear-a padding font-icon"></i>Configuracion</ion-item>
        <ion-item ng-if="currentPlatform!==&apos;android&apos;" menu-close="" class="concrete">
          <a ng-controller="UserCtrl" ng-click="eliminarSession(true)" class="text-decoration-none concrete">
            <i class="icon ion-ios-close-outline padding font-icon"></i>Cerrar session</a>
          </ion-item>
        <ion-item ng-if="currentPlatform ===&apos;android&apos;" menu-close="" class="concrete">
          <a ng-controller="UserCtrl" ng-click="eliminarSession(true)" class="text-decoration-none concrete">
        <i class="icon ion-close padding font-icon"></i>Cerrar session</a></ion-item>
      </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</body>
</html>
