/* Login
==================================*/
.app-icon {
  background-color: #fff;
  background: url('../img/login/pick-logo.png') center;
  background-size: cover;
  /*border-radius: 50%;*/
  height: 130px;
  margin: 0px auto;
  width: 215px;
}

.item-md-label .input-label{
  text-transform: uppercase;
}
.item{
  width: auto;
}
.hero.no-header {
  //height: 288px;
}
.content-login{
  margin-top: 15%;
}
.social-login {
  position: fixed;
  bottom: 0;
}
.social-login-facebook{
  background:  rgb(59, 89, 152) none repeat scroll 0% 0%;
  color: white;
}



#cf3 img {
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}
