/* Login
==================================*/
.app-icon {
  background-color: #fff;
  background: url('../img/login/pick-logo.png') center;
  background-size: cover;
  /*border-radius: 50%;*/
  height: 130px;
  margin: 0px auto;
  width: 215px;
}

.item-md-label .input-label{
  text-transform: uppercase;
}
.item{
  width: auto;
}
.hero.no-header {
  height: 288px;
}

.social-login {
  position: fixed;
  bottom: 0;
}
.social-login-facebook{
  background:  rgb(59, 89, 152) none repeat scroll 0% 0%;
  color: white;
}
